@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Playfair+Display:wght@400;500&family=Poppins:wght@300;400;500&family=Questrial&family=Roboto+Condensed:wght@300&family=Roboto:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #9294a2;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 20%;
  height: 20%;
  border: 1px solid red;
  border-radius: 50%;
  margin-top: 2em;
}

.dropdown {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  font-family: "Playfair Display", serif;
}
.label {
  margin-bottom: 5px;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}

nav {
  border: 1px solid black;
  padding: 30px;
}
.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
}

li,
a {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 16px;
}

li a {
  text-decoration: none;
  transition: 1s all ease-in-out;
}

a:hover {
  font-size: 18px;
}

